<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Actualizar Perfil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
    </style>
</head>
<body>
    <h1>Actualización de Información</h1>
    <form>
		<table>
			<tr>
                <td><label>Usuario:</label></td>
                <td><input type="text" th:field="${usuarioRegistroTO.nickname}"></td>
            </tr>
            <tr>
                <td><label>Contraseña:</label></td>
                <td><input type="password" th:field="${usuarioRegistroTO.constrasenia}"></td>
            </tr>
		</table>
		<button type="submit">ACCION</input>

	</form>


</body>
</html>