<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Actualizar Perfil</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
    </style>
</head>

<body>
    <h1>Actualización de Datos Personales</h1>
    <form th:action="@{/kefa/actualizar_perfil/{nickname}(nickname = ${usuarioRegistroTO.nickname})}"
        th:object="${usuarioRegistroTO}" th:method="PUT">
        <table>
            <tr>
                <td><label>Usuario:</label></td>
                <td><input type="text" th:field="${usuarioRegistroTO.nickname}"></td>
            </tr>
            <tr>
                <td><label>Contraseña:</label></td>
                <td><input type="password" th:field="${usuarioRegistroTO.constrasenia}"></td>
            </tr>
        </table>

    </form>
    <button type="submit">Actualizar</input>
        <button type="button" onclick="window.location.href='/kefa/formulario_perfil/{nickname}'">Regresar</button>


</body>

</html>